@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<body>
    <div>
        <h3 data-toggle="collapse" data-target="#q1">Signing in to the System</h3>
        <div id="q1" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q2">Home Screen</h3>
        <div id="q2" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q3">Register a Member</h3>
        <div id="q3" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q4">Add a Child to the System</h3>
        <div id="q4" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q5">Sign Out a Member/Child</h3>
        <div id="q5" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q6">Generating Reports</h3>
        <div id="q6" class="collapse card">
            test
        </div>
        <h3 data-toggle="collapse" data-target="#q7">Admin Panel Functions</h3>
        <div id="q7" class="collapse card">
            The Admin section of the website is restricted to employees with admin permissions, if you feel like you need
            access to this you will need to request it from the current system admin.
            <h3 data-toggle="collapse" data-target="#a1">Register an Employee</h3>
            <div id="a1" class="collapse card">
                info on how to register a member will go here
            </div>
            <h3 data-toggle="collapse" data-target="#a2">Change an Employee's Password</h3>
            <div id="a2" class="collapse card">
                info on change employee password will go here
            </div>
            <h3 data-toggle="collapse" data-target="#a3">Update an Employee's Information</h3>
            <div id="a3" class="collapse card">
                update employee info
            </div>
        </div>
    </div>
</body>
</html>
