@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<body>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Signing in to the System
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Admins and Employees</u></h2>
                    <p>To signin the admins or employee must enter their username and password.<br /></p>
                    <img src="..\..\Images\helpImages\initialLogin.PNG" alt="Sign-in" style="width:900px;height:500px;" />
                    <p><br/><br />If the admin or employee enters their Username or Pin wrong the system will throw out a error massages</p>
                    <img src="..\..\Images\helpImages\SigninFail.PNG" alt="Sign-in Fail" style="width:900px;height:500px;" />

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Home Screen
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h2><br /><br /><u>Home Screen</u></h2>
                    <p>The home screen depending on when the system is started will display two different ways.<br /></p>
                    <h3>Home screen empty</h3>
                    <img src="..\..\Images\helpImages\Home.PNG" alt="Home Screen Blank" style="width:900px;height:500px;" />
                    <h3><br /><br />Home screen filled</h3>
                    <img src="..\..\Images\helpImages\HomeFilled.PNG" alt="Home Screem Filled" style="width:900px;height:700px;" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Register a Member
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Register a Member</u></h2>
                    
                    <p>To Register a Member you first need to click on the Membership drop down and from there click the "Register New Member" option as shown below</p>
                    <img src="..\..\Images\helpImages\HomeAnottedRegMember.PNG" alt="Home Screen w/Membership drop down" style="width:900px;height:500px;" /><br /><br />
                    
                    <p><br /><br />From there the screen will change to "Register Member" Screen as shown below</p>
                    <img src="..\..\Images\helpImages\RegMember.PNG" alt="Register Member Screen" style="width:900px;height:500px;" /><br /><br />

                    <p><br /><br />You will need to then enter all fields and have the member create a pin. *Note* You will need to pull their YMCA member ID and enter it in.</p>
                    <img src="..\..\Images\helpImages\RegMemberFilled.PNG" alt="Register Member Filled" style="width:900px;height:500px;" /><br /><br />

                    <p>
                        <br /><br />
                        You may recieve an Error message because of one of these errors as shown below
                        <br />1.The Barcode was either longer that 6 numeric characters or was shorter than 6 numeric character
                        <br />2.The Pin was either longer that 4 numeric characters or was shorter than 4 numeric character
                        <br />3.Either the Barcode or the Pin contained characters that are not numbers
                        <br />4.The Barcode and the Pin are not connected to a Registered member
                        <br />5.Either the MemberID was shorter or longer than 11 numeric characters
                    </p>
                    <img src="..\..\Images\helpImages\RegMemberError.PNG" alt="Register Member ERROR" style="width:900px;height:500px;" /><br /><br />

                    <p><br /><br />Once all the fields are filled correctly when you click "Register" the screen will change to "Add Child" with a message at the top stating that they were registered.</p>
                    <img src="..\..\Images\helpImages\AddChildMemRegSuccess.PNG" alt="Add Child w/Member Registered" style="width:900px;height:500px;" /><br /><br />
                    <p>*Note if the user adds a child right after registering the MemberID will fill the GuardianID field</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Add a Child to the System
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Add Child</u></h2>

                    <p>Add child can be accessed two ways.<br />1.By Registering a new member<br />2.By adding a new child to a existing member.</p>

                    <h3>Add child from Register member</h3>
                    <img src="..\..\Images\helpImages\AddChildMemRegSuccess.png" alt="Add child from Registered member" style="width:900px;height:500px;" /><br />
                    <p>
                        This can be accessed by clicking on the Membership drop-down and then clicking on the "Register New Member Option as shown below. You will need to register a member but once they are added then the add children screen will appear.
                    </p>
                    <img src="..\..\Images\helpImages\HomeAnottedRegMember.png" alt="Add child from Registered member" style="width:900px;height:500px;" /><br />

                    <h3>Attach Child to Existing Member</h3>
                    <img src="..\..\Images\helpImages\HomeAnottedAddChild.png" alt="Add child to existing member" style="width:900px;height:500px;" /><br />
                    <p>
                        <br /><br />
                        The can be accessed by clicking on the Membership drop-down and then click on the "Attach Child to Member Option as shown above.
                        The main differance is that when you come from "Register Member" the GuardianID is made from the MemberID. If you add a child to a existing member you will need to enter the MemberID into the GuardianID field
                    </p>

                    <h3><u>Adding child</u></h3>
                    <p>
                        Once you have reach Add Child you must then enter the child's information but keep in mind these rules. Failure to follow the rules can cause a error message to be shown.
                        <br />1.All fields must be filled
                        <br />2.The Birthday format must be MM/DD/YYYY
                        <br />3.If you have to enter the Guardian ID make sure that matches their MemberID and the lenght is not longer or shorter than 11 numeric characters.
                    </p>
                    <img src="..\..\Images\helpImages\AddChildRegError.png" alt="Add child to existing member" style="width:900px;height:500px;" /><br />
                    
                    <p><br /><br />If the child is enter correctly upon click "Add Another Child" a message will popup as shown below</p>
                    <img src="..\..\Images\helpImages\AddChildRegSuccess.png" alt="Add child to existing member" style="width:900px;height:500px;" /><br />
                   
                    <p><br /><br />If the child is enter correctly upon click "Finish Registration" the screen will return to Home and a message will popup as shown below</p>
                    <img src="..\..\Images\helpImages\AddChildRegSuccessHome.png" alt="Add child to existing member" style="width:900px;height:500px;" /><br />

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Sign In and Sign Out a Member/Child
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Sign Member In an Out</u><br /><br /></h2>

                    <h3>Sign in</h3>

                    <p>To signin a member you need to click on the "Member Signin" option at the top of the screen as shown below</p>
                    <img src="..\..\Images\helpImages\HomeAnottedMemberSignin.png" alt="Member Signin" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once on the screen below the member will need to enter their Barcode and Pin. </p>
                    <img src="..\..\Images\helpImages\MemberSignin.png" alt="Member Signin Screen" style="width:900px;height:500px;" /><br />

                    <p>
                        <br /><br />
                        If the member fails to sign-in it could be because of one of these issues which will cause a message to display on the screen as seen below.
                        <br />1.Barcode lenght was either shorter or longer than 6 numeric characters
                        <br />2.Pin lenght was either shorter or longer than 4 numeric characters
                        <br />3.A non-number character was entered into Barcode or Pin
                        <br />4.The Barcode and Pin are pared together or not in the database.
                    </p>
                    <img src="..\..\Images\helpImages\MemberSigninFail.png" alt="Signin fail" style="width:900px;height:500px;" /><br />

                    <p><br /><br />If the signin was successful you will be move to a screen that shows all the children that are connected to that member.</p>
                    <img src="..\..\Images\helpImages\ChildCheckin.png" alt="Child Checkin" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once there you can select which children to check-in by check the box on the left of their name. When the box is selected the options where the children can be placed will appear to the right of the selected childrens name. </p>
                    <img src="..\..\Images\helpImages\ChildCheckinAnotted.png" alt="Children Select" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once they selected which child goes where they must click "Get Band #". This will change the screen to the one shown below. They will have 30 seconds to write the band number down. Once the time is up the screen will return to Member Sign-in.</p>
                    <img src="..\..\Images\helpImages\BandAnotted.png" alt="Band Number" style="width:900px;height:500px;" /><br />


                    <h3><br /><br />Sign Out</h3>
                    <p>To signin a member you need to click on the "Member Signin" option at the top of the screen as shown below</p>
                    <img src="..\..\Images\helpImages\HomeAnottedFamilySignout.png" alt="Home Screen" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the one shown below</p>
                    <img src="..\..\Images\helpImages\FamilySignout.png" alt="Member Sign-out" style="width:900px;height:500px;" /><br />

                    <p><br /><br />If the member enters the band incorrectly the system will displays error message as shown below</p>
                    <img src="..\..\Images\helpImages\FamilySignoutFoundError.png" alt="Signout Error" style="width:900px;height:500px;" /><br />
                    <p>
                        This error can be caused by one of these issues
                        <br />1.The Band number didnot match any of the bands currently active in the system
                        <br />2.The Band number contained non-numeric characters or was shorter/longer than 4 characters
                    </p>

                    <p><br /><br />If the band is entered correctly then the screen will change to the screen show below with a message stating that the signout occured.</p>
                    <img src="..\..\Images\helpImages\FamilySignoutSuccess.png" alt="Sign-out Success" style="width:900px;height:500px;" /><br />

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Generating Reports
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Generating Reports</u><br /><br /></h2>

                    <p>To generate reports press the drop-down beside the name of the currect employee logged in and click on the "Business Intellegents" as shown below.</p>
                    <img src="..\..\Images\helpImages\HomeAnottedBI.png" alt="Home Dropdown" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the screen below.</p>
                    <img src="..\..\Images\helpImages\BIHome.png" alt="BI Home" style="width:900px;height:500px;" /><br />

                    <p><br /><br />On this screen you can choose one of the three reports shown below</p>
                    <img src="..\..\Images\helpImages\BIHomeNumbered.png" alt="Reports" style="width:900px;height:500px;" /><br />

                    <p>
                        <br /><br />
                        1.Interval Headcount
                        <br />2.Member Information
                        <br />3.Daily Totals
                        <br /><br />
                    </p>

                    <h3>1.Interval Headcount</h3>
                    <p>This report allow for you to pull a report for every time interval between a start and end time on a certain day at a certain location.</p>
                    <img src="..\..\Images\helpImages\BIHomeIntervalsFilled.png" alt="Interval Report" style="width:900px;height:500px;" /><br />
                    <p>
                        The report above pulls data for every 30mins between 10AM and 2PM on 4/30/18 for all locations.
                        <br />What we can see is that 2 children were at the Playzone from 10-1:30 and 1 was at the pool.
                    </p>

                    <h3><br /><br />2.Member Information</h3>
                    <p>This report allow for you to pull a report of every member with data in database on wheather they are active,inactive, or both as shown below.</p>
                    <img src="..\..\Images\helpImages\BIHomeMemberInfo.png" alt="Member Report" style="width:900px;height:500px;" /><br />

                    <h3><br /><br />3.Daily Total</h3>
                    <p>This report allow for you to pull a report of how many children were in the selected area everyday between two dates as shown below.</p>
                    <img src="..\..\Images\helpImages\BIHomeDailyTotal.png" alt="Daily Report" style="width:900px;height:500px;" /><br />

                    <h3><br /><br />Tools</h3>
                    <p>On each report screen there are two tools to help streamline your experiance. </p>

                    <h3><br /><br />Info bar</h3>
                    <p>If you click on the Orange bar where the report name is a helpful drop-down will appear and explain how the report works as shown below.</p>
                    <img src="..\..\Images\helpImages\BIHomeTab.png" alt="Info Bar" style="width:900px;height:500px;" /><br />

                    <h3><br /><br />Hide and Unhide</h3>
                    <p>If you click on the Orange button the top half of the report will hide away as shown below.</p>
                    <img src="..\..\Images\helpImages\BIHomeHide.png" alt="Report Hide" style="width:900px;height:500px;" /><br />
                    <p><br /><br />If you click on the Orange button again the top half of the report will reappear as shown below.</p>
                    <img src="..\..\Images\helpImages\BIHomeShow.png" alt="Report Show" style="width:900px;height:500px;" /><br />
                    <p>Hide and Unhide allow for more of the report to be seen if the user requestes it.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Accessing the Admin Portal
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>Accessing Admin Portal</u></h2>
                    <p>
                        To access the Admin Portal you first must make sure that you are logged in as a Admin.
                        Next click on the drop-down beside the logged in name as shown below.
                    </p>
                    <img src="..\..\Images\helpImages\HomeAnottedAdminPortal.png" alt="Home Screen" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the Admin portal and that's it.</p>
                    <img src="..\..\Images\helpImages\AdminPortal.png" alt="Admin Portal" style="width:900px;height:500px;" /><br />

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Adding a New Employee to the System
                    </button>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>How to add a New employee</u><br /><br /></h2>
                    <p>To add a employee click on the button in the Admin Portal that says "Register Employee" as shown below.</p>
                    <img src="..\..\Images\helpImages\AdminPortalAnottedRegEmployee.png" alt="Admin Portal" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the screen below</p>
                    <img src="..\..\Images\helpImages\RegEmployee.png" alt="Register Employee Screen" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Here you need to fill in the employee information <b>*Note If you click on the box at the very bottom this will grant the employee full admin rights*</b>. If on submit the screen displays an error it is because either the fields were empty or the Admin passwords didnot match as shown below</p>
                    <img src="..\..\Images\helpImages\RegEmployeeFail.png" alt="Register Employee Fail" style="width:900px;height:500px;" /><br />

                    <p><br /><br />If the fields are filled and the passwords match then the screen will display a message stating that the employee was registered as shown below</p>
                    <img src="..\..\Images\helpImages\RegEmployeeSuccess.png" alt="Register Employee Success" style="width:900px;height:500px;" /><br />

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Change an Employee's Password
                    </button>
                </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>How to Change Employee password</u><br /><br /></h2>

                    <p>To change a employee's password click on the button in the Admin Portal that says "Unlock Employee" as shown below.</p>
                    <img src="..\..\Images\helpImages\AdminPortalAnottedUnlockEmployee.png" alt="Admin Portal" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the screen shown below</p>
                    <img src="..\..\Images\helpImages\UnlockEmployee.png" alt="Unlock Employee" style="width:900px;height:500px;" /><br />

                    <p><br /><br />To select what employee to change press the drop-down on the right of the employee as shown below.</p>
                    <img src="..\..\Images\helpImages\UnlockEmployeeAnottedSelect.png" alt="Unlock Employee Marked" style="width:900px;height:500px;" /><br />

                    <p>Once you select the employee to change enter the new password, Confirm the new password and enter your admin password to aprove the change.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTen">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Update an Employee's Information
                    </button>
                </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                <div class="card-body">
                    <h2><u>How to Update Employee Information</u><br /><br /></h2>

                    <p>To change a employee's Information click on the button in the Admin Portal that says "Update Employee Information" as shown below.</p>
                    <img src="..\..\Images\helpImages\AdminPortalAnottedUpdateEmployee.png" alt="Admin Portal" style="width:900px;height:500px;" /><br />

                    <p><br /><br />Once clicked the screen will change to the screen shown below.</p>
                    <img src="..\..\Images\helpImages\UpdateEmployee.png" alt="Update Employee" style="width:900px;height:500px;" /><br />

                    <p><br /><br />To select what employee to change press the drop-down on the right of the employee as shown below.</p>
                    <img src="..\..\Images\helpImages\UpdateEmployeeAnottedSelect.png" alt="Update Employee Marked" style="width:900px;height:500px;" /><br />

                    <p>Once you select the employee to change their current information will fill the fields allow you to see what to change. As well as changing user name you can change wheather they should be an Admin,if there account should be locked, or even remove access all together.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>