<footer id="externalFooter">
    <div class="footerContent">
        <p>This application was created by volunteers from these organizations.</p>
        <div class="donators">
            <a href="http://allegacy.org" target="_blank"><img src="~/Images/allegacylogo.png" /></a>
            <a href="http://forsythtech.edu" target="_blank"><img src="~/Images/ftcc-logo.png" /></a>
        </div>
    </div>
</footer>
