<style>
    footer {
    background-color: #FCAF17;
    padding: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

    .footerContent p {
    color: white;
    text-shadow: 1px 3px 5px black;
    text-align: center;
    }

    .donators {
    margin: auto;
    width: 500px;
    }
</style>
<footer>
    <div class="footerContent">
        <p>This application was created by volunteers from these organizations.</p>
        <div class="donators">
            <a href="http://allegacy.org" target="_blank"><img src="~/Images/allegacylogo.png" /></a>
            <a href="http://forsythtech.edu" target="_blank"><img src="~/Images/ftcc-logo.png" /></a>
        </div>
    </div>
</footer>
