<style>
    header {
        padding: 2em;
       
        width: 100%;
        background-color: rgba(0, 157, 137, 1);
    }

        header h1 {
            color: white;
            text-shadow: 1px 3px 5px black;
            font-family: "Cachet W01 Book", Verdana, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-size-adjust: 1.5;
            text-align: center;
        }

    .brand {
        font-family: "Cachet W01 Book", Verdana, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: white;
        text-rendering: optimizeLegibility;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
        line-height: 1.4;
        text-align: center;
    }
</style>
<header>
    <div class="brand">
        <h4>YMCA of Greensboro: Kathleen Price Bryan Family YMCA</h4>
    </div>
    <h1>ChildWatch</h1>

</header>

