<footer id="externalFooter">
    <div class="footerContent">
        <ul>
            <li>
                <label>Donated by volunteers from: </label>
            </li>
            <li>
                <a href="http://allegacy.org" target="_blank"><img src="~/Images/allegacylogo.png" /></a>
            </li>
            <li>
                <a href="http://forsythtech.edu" target="_blank"><img src="~/Images/ftcc-logo.png" /></a>
            </li>
        </ul>
       
    </div>
</footer>
