<html>
<head>
    <title>ChildWatch : Signin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="~/Images/Ymca.ico" type="image/x-icon" />
    <style>
        .content{
            max-width: 90%;
            margin: 2em auto;
        }
        .userinfo{
            max-width: 100px;
        }
        .loginForm{
            width: 90%;
            margin: auto;
        }
        #children tr td{
            min-width: 150px;
            padding-right: 30px;
            border-bottom: 2px solid black;
        }
        #login, #divBand{
            width: 45%;
            margin: auto;
        }
        #children tr th {
            padding: 1em;
            padding-left: 0;
            font-weight:bold;
            font-size: 16px;
        }
        #childList{
            padding: 2em;
            max-height: 750px;
            max-width: 855px;
            margin: auto;
            overflow-y: auto;
        }
        .buttonFooter{
            padding: 2em;
        }
    </style>
</head>
<body>
@Html.Partial("ExternalHeader")
    <div class="content">
        <div id="login">
            <fieldset class="w3-card">
                <legend>Sign In</legend>

                <table class="w3-table">
                    <tr>
                        <th>Barcode</th>
                        <td><input id="barcode" class="w3-input w3-border userinfo" type="text" /></td>
                    </tr>
                    <tr>
                        <th>Pin</th>
                        <td><input id="pin" class="w3-input w3-border userinfo" type="password" /></td>
                    </tr>
                </table>
                <div class="buttonFooter">
                    <button type="button" class="btn btn-primary btn-block form-control" onclick="validate()">Sign In</button>
                </div>
            </fieldset>
        </div>

        <div id="childList" style="display:none;">
            <table id="children"></table>
            <div class="buttonFooter">


                <button type="button" class="btn btn-primary btn-block" onclick="signinFamily()">Get Band #</button>
            </div>
        </div>
        <div id="divBand" style="display:none;" class="w3-card">
            <h1 id="band">Band# </h1>
            <p>
                Please write your given band number on a braclet for you and your children.  This will be
                checked by a YMCA staff member before your leave.
            </p>
            <p id="warning" class="alert">
                Time Remaining: 30 seconds
            </p>
            <p>
                We will remove all personal data and your band number when the timer expires.  If you need additional assisstance after the allotted time,
                please talk to one of our member representatives.
            </p>
        </div>
    </div>
<script>

// Member number of the connected person
var curr_member_id = 0;
// Connection to hub to update the signin roster.
var proxy = $.connection.childWatchHub;
$.connection.hub.start();

function validate() {

    var x = {
        barcode: document.getElementById("barcode").value.toString(),
        pin: document.getElementById("pin").value.toString()
    };

    var json = JSON.stringify({
        data: x
    });


    $.ajax({
        url: '@Url.Action("ValidateMember", "SignIn")',//"/SignIn/ValidateMember",
        data: json,
        type: "POST",
        dataType: "json",
        contentType: 'application/json',
        success: validateSuccess,
        error: function (x, status, error) { alert(error) }
    });
}

function locationChanged(caller, row) {
    var cells = document.getElementById(row).children;
    for (var i = 2; i < cells.length; i++) {
        cells[i].children[0].checked = false;
    }
    caller.checked = true;
}

function selectChanged(caller, row) {

    var cells = document.getElementById(row).children;
    for (var i = 2; i < cells.length; i++) {
        if (caller.checked) {
            $(cells[i].children[0]).show();
        }
        else {
            $(cells[i].children[0]).hide();
            cells[i].children[0].checked = false;
        }
    }
}
// Invoked when information is returned from the server for a validation
function validateSuccess(data) {

    if (data != null && data.IsSuccess) {

        var children = data.Family.Children;
        var member = data.Family.Guardian;
        var locations = data.Locations;
        var table = $('#children');
        table.empty();

        curr_member_id = member.MemberId;

        if (children.length > 0) {
            // Build header row
            var header = $('<tr/>');
            header.append($('<th/>').text('Select'));
            header.append($('<th/>').text('Name'));

            for (var y = 0; y < locations.length; y++) {
                header.append($('<th/>').text(locations[y].Name));
            }

            table.append(header);

            var id = 1;
            for (var x = 0; x < children.length; x++) {
                var row_id = "row_" + id;
                row = $('<tr/>', { id: row_id });
                id++;
                row.append($('<td/>').append($('<input/>',
                    {
                        value: children[x].Id,
                        onclick: 'selectChanged(this,"' + row_id + '")',
                        type: "checkbox"
                    })));
                row.append($('<td/>').text(children[x].FirstName + " " + children[x].LastName));


                for (var y = 0; y < locations.length; y++) {
                    row.append($('<td/>').append($('<input/>', {
                        onclick: 'locationChanged(this,"' + row_id + '")',
                        type: "checkbox", value: locations[y].Id
                    }).hide()));
                }

                table.append(row);
            }
            $('#barcode').val("");
            $('#pin').val("");
            $('#login').hide();
            $('#childList').show();
        }
        else {
            // They have no children so they don't need to be here.
        }
    }
}
function signinSuccess(data) {
    var band = data.Band;

    if (band > 0) {
        $('#childList').hide();
        $('#divBand').show();
        $('#band').text("Band# " + data.Band);
        proxy.server.sendRefreshNotification();

        var time = 30;
        var timer = setInterval(function () {
            time = time - 1;
            $('#warning').text("Time Remaining: " + time.toString() + " seconds.");

            if (time == 0) {
                window.clearInterval(timer);
                curr_member_id = 0;
                $('#children').empty();
                $('#band').text("Band#");
                $('#divBand').hide();
                $('#login').show();
                $('#warning').text("Time Remaining: 30 seconds");
            }
        }, 1000);

    }
    else {
        // Failed to get a band
    }
}

function signinFamily() {
    var rows = document.getElementById('children').children;
    var selection = [];

    for (var i = 1; i < rows.length; i++) {
        var cells = rows[i].cells;
        // child selected
        if (cells[0].children[0].checked) {
            var child_id = cells[0].children[0].value;
            var zone = -1;
            for (var x = 2; x < cells.length; x++) {
                if (cells[x].children[0].checked) {
                    zone = cells[x].children[0].value;
                    break;
                }
            }
            selection[selection.length] = { Child: child_id, Location: zone };
        }
    }
    var x = {
        Assignments: selection,
        MemberId: curr_member_id
    };
    var json = JSON.stringify({
        data: x
    });

    $.ajax({
        url: '@Url.Action("SigninMembers","SignIn")', ///SignIn/SigninMembers",
        data: json,
        type: "POST",
        dataType: "json",
        contentType: 'application/json',
        success: signinSuccess,
        error: function (x, status, error) { alert(error) }
    });
}

</script>
    @Html.Partial("ExternalFooter")
</body>
</html>

