.aside{
	float: left;
	margin:0;
	padding:1em;
	min-width:154px;   
    vertical-align:top;
}
.lbxReports{
    height: 200px;
    overflow: hidden;
    align-items: center;
    border-color: #ffa31a;
    outline: solid 1px #ff751a; 
    border-width: .15em;
    margin-bottom: .25em;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em; 
    min-width: 700px;       
}
.reportArguments {
    margin-left: 250px;
    border-left-width:.25em;
    margin-bottom: .1em;
    margin-right: 1em;
    margin-top: 1em;
    position: absolute;
    vertical-align:top;
    width: auto;
    min-height: 237px;
    height: auto;
    overflow: hidden;
    
}.reportArguments {
    margin-left: 250px;
    border-left-width:.25em;
    margin-right: 1em;
    margin-top: 1em;
    position: absolute;
    vertical-align:top;
    width: auto;
    min-width: 600px;
    min-height: 237px;
    height: auto;
    overflow: hidden;
    
}
.centerDiv{
    margin-left: 350px ;
}
.reportDisplay{
    border-top:5px solid #ffa31a;
    margin-top:.25em;
    clear: both;
    height:auto;
    min-height:20em;

}
.list{
    list-style-type: none;
    border-left: 6em;
    margin-left: 250px;
}